<div class="center">
    <div class="center-form">
        Start chatting, crazy
        <br />

        <form>
            <md-input-container>
                <label>Conversation</label>
                <input type="text" placeholder="conversation" ng-model="message.conversation" required /> <br />
            </md-input-container>

            <md-input-container>
                <label>message</label>
                <input type="text" placeholder="message" ng-model="message.text" required>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="sendMessage()">Send</md-button>
        </form>

    </div>
</div>